.layout-topbar {
   flex: 0 0 4rem;
   width: 100%;
   align-self: flex-start;
   z-index: 997;
   padding: 0 2rem;
   background-color: var(--surface-card);
   display: flex;
   align-items: center;

   .layout-topbar-logo-container {
      display: flex;
      align-items: center;
      gap: 1rem;
   }

   .layout-topbar-logo {
      display: inline-flex;
      align-items: center;
      font-size: 1.5rem;
      border-radius: var(--content-border-radius);
      color: var(--text-color);
      font-weight: 500;
      gap: 0.5rem;

      svg {
         width: 3rem;
      }

      &:focus-visible {
         @include focused();
      }
   }

   .layout-topbar-menu-button {
      display: none;
   }

   .layout-topbar-actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
   }
}

@media (max-width: 991px) {
   .layout-topbar {
      padding: 0 2rem;

      .layout-topbar-logo-container {
         width: auto;
      }

      .layout-sidebar-button {
         margin-left: 0;
         margin-right: 0.5rem;
      }
   }
}
