:root {
   height: 100%;
   font-size: clamp(calc(0.625rem * var(--ui-scale)), 3vw, calc(1rem * var(--ui-scale)));
}

body {
   @apply font-['Lato'_sans-serif] text-[var(--text-color)] bg-[var(--surface-ground)] min-h-screen overflow-x-hidden antialiased;

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a {
   @apply no-underline;
}

* {
   scroll-behavior: smooth;

   &::-webkit-scrollbar-track,
   &::-webkit-scrollbar-track-piece,
   &::-webkit-scrollbar-corner {
      @apply bg-transparent rounded-lg;
   }

   &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
      background: transparent;
      border-radius: 1rem;
   }

   &::-webkit-scrollbar-thumb {
      @apply bg-transparent rounded-lg border-2 border-[var(--text-color)];
   }
}
